<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CakeHistory</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="{% if request.endpoint in ['login_user_route', 'register'] %}auth-page{% endif %}">
    <header class="header">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="CakeHistory Logo" class="logo-img">
            <h1>CakeHistory</h1>
        </div>

        <nav class="nav-links">
            <a href="{{ url_for('home') }}"><i class="fa-solid fa-house"></i> Home</a>
            <a href="{{ url_for('menu') }}"><i class="fa-solid fa-utensils"></i> Menu</a>
            <a href="{{ url_for('cart') }}"><i class="fa-solid fa-cart-shopping"></i> Cart</a>
        </nav>


        <div class="auth-buttons">
            {% if current_user.is_authenticated %}
                <span>Hi, {{ current_user.name }}</span>
                <a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            {% else %}
                <a href="{{ url_for('login_user_route') }}"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                <a href="{{ url_for('register') }}"><i class="fa-solid fa-user-plus"></i> Register</a>
            {% endif %}
        </div>
    </header>

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 CakeHistory. All rights reserved.</p>
    </footer>
</body>
</html>
